svg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-self: center;
}
path {
    fill: #ddd;
    stroke: #333;
    transition: fill 0.3s;
}
path:hover {
    fill: #3498db;
}
